.category-body {
  max-width: 1000px;
  margin: 60px auto 0;
}

.category-heading {
    display: inline-block;
    padding: 10% 0 3%;
    margin-bottom: 5px;
    border-bottom: 2px solid #fff;
}

.category-banner {
  background: url('/media/plates-header.jpg') no-repeat;
  background-size: 100%;
  background-position: center;
}

.category-banner-copy {
  display: block;
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
  background-color: #222;
  color: #fff;
  padding: 3% 2% 5% 2%;
  box-sizing: border-box;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
}

