.Cart {
  background-color: #F0F0F0;
  padding: 50px 0;
}

.Cart h2 {

}

.cart-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.cart-product-row {
  border-bottom: 1px solid #E0E0E0;
}

.cart-table td {
  height: 125px;
  padding: 20px 0;
}

.cart-product-image {
  width: 100px;
  float: left;
  margin-right: 15px;
}

.cart-increment-container, .cart-increment-container div {
  display: inline-block;
  vertical-align: top;
}

.cart-product-description, .cart-increment-container, .cart-price, .cart-remove {
  display: inline-block;
}

.cart-increment-container, .cart-price, .cart-remove {
  margin-left: 50px;
}

.cart-product-description {
  width: 45%;
  text-align: left;
  padding-left: 15px;
}

.cart-increment-total {
  width: 45px;
  height: 45px;
  background-color: #E0E0E0;
  margin-right: 3px;
  line-height: 45px;
}

.cart-increment-container .cart-increment, .cart-increment-container .cart-decrement {
  background-color: #C8C8C8;
  display: block;
  width: 21px;
  height: 21px;
  line-height: 21px;
  cursor: pointer;
}

.cart-increment {
  margin-bottom: 3px;
}

.cart-product-row div {
  vertical-align: top;
}

.cart-product-row p {
  margin: 0 0 5px;
}

.cart-overview {
  width: 50%;
  margin: 20px 0 0 50%;
  text-align: left;
}

.cart-overview div {
  margin: 10px 0;
}

.cart-overview span {
  float: right;
}
