.product-tile {
  display: inline-block;
  width: 31%;
  min-width: 200px;
  text-align: center;
  margin: 0 1% 50px;
  color: #808080;
  position: relative;
}

.product-tile-brand {
  font-size: 14px;
  margin: 25px 0 5px;
}

.product-tile-heading {
  text-transform: uppercase;
  margin: 10px 0 5px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-weight: normal;
  color: #000;
  font-size: 14px;
  margin: 5px 0;
}

.product-tile-price {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.product-tile-image {
  height: 220px;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}

.product-tile-cta {
  position: absolute;
  width: 100%;
  top: 0;
  padding-top: 40px;
  opacity: 0;
  transition: .1s ease;
}

.product-tile-view-details, .product-tile-add-cart {
  display: block;
  position: absolute;
  left: 20%;
  width: 60%;
  color: #fff;
  line-height: 35px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  cursor: pointer;

}

.product-tile-view-details {
  background-color: #151515;
  top: 70px;
}

.product-tile-add-cart {
  background-color: #2a2a2a;
  top: 140px;
}

.product-tile:hover .product-tile-cta {
  opacity: 1;
}
