.MiniCart {
  position: absolute;
  right: 0;
  top: 80px;
  background-color: #fff;
  width: 30%;
  max-width: 300px;
  border: 1px solid #E0E0E0;
  padding: 10px;
  line-height: inherit;
  z-index: 1;
  text-align: left;
  display: none;
}

.MiniCart.show {
  display: block;
}

.minicart-cta {
  display: inline-block;
  width: 48%;
  text-align: center;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 1px solid #000;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.minicart-cta:last-child {
  margin-left: 4%;
}

.minicart-product {
  overflow: auto;
  position: relative;
  padding-right: 20px;
}

.minicart-product img {
  width: 60px;
  height: 60px;
  background-color: green;
  float: left;
  margin: 0 10px 10px 0;
  background-size: cover;
  background-position: 50% 50%;
}

.minicart-product span {
  display: block;
  text-align: left;
}

.minicart-title {
  font-size: 14px;
}

.minicart-brand {
  font-size: 11px;
  line-height: 18px;
}

.minicart-price {
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
}

.minicart-total {
  margin-bottom: 10px;
}

.minicart-total span {
  float: right;
}

.minicart-cta-row {
  overflow: auto;
  margin-top: 10px;
}

.fa-times {
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
}
