.App {
  text-align: center;
  font-family: 'News Cycle', sans-serif;
}

header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo-container {
  display: inline-block;
}

.logo {
  display: inline-block;
  background: transparent url("/media/logo.png") no-repeat scroll 0% 0%;
  text-indent: -3333px;
  width: 165px;
  height: 68px;
  margin: 0;
  line-height: inherit;
  font-size: 30px;
}

.mini-cart-label {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: #000;
  line-height: 80px;
  margin-right: 30px;
}

nav a, nav span {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.fa-caret-down {
  margin-left: 5px;
}
