.Product {
  max-width: 1000px;
  margin: 0 auto;
}

.product-breadcrumbs {
  font-weight: bold;
}

.product-container {
  overflow: auto;
  margin-top: 50px;
}

.product-breadcrumbs span, .product-brand {
  color: #808080;
}

.product-info {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

.product-image {
  margin-right: 5%;
  width: 55%;
}

.product-heading {
  font-size: 38px;
  margin: 0 0 15px;
  font-weight: 500;
}

.product-brand {
  margin: 0 0 30px;
}

.product-price {
  font-weight: 18px;
}

.product-description, .product-price {
  color: #696969;
}

.product-description {
  padding-bottom: 30px;
  border-bottom: 1px solid #E0E0E0;
}

.product-add-cart-container, .product-add-cart-container div {
  display: inline-block;
  vertical-align: top;
}

.product-add-cart-container {
  margin-top: 8px;
}

.product-cart-total {
  width: 45px;
  height: 45px;
  background-color: #E0E0E0;
  margin-right: 3px;
  line-height: 45px;
}

.product-add-cart-container .product-increment, .product-add-cart-container .product-decrement {
  background-color: #C8C8C8;
  display: block;
  width: 21px;
  height: 21px;
  line-height: 21px;
  cursor: pointer;
}

.product-increment {
  margin-bottom: 3px;
}

.product-cta {
  width: 140px;
  height: 45px;
  line-height: 45px;
  background-color: #2a2a2a;
  margin-left: 8px;
  cursor: pointer;
  text-transform: capitalize;
  color: #fff;
}
